.pieContainer {
  background-color: #FBFBFB;
  border-radius: 5px;
  width: 258px;
  height: 263px;
  position: relative;
}

.score {
  position: absolute;
  top: 24px;
  left: 30px;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}