@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  /* color-scheme: light dark; */
  /* To darken page */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: Roboto;
}

a {
  font-weight: 500;
  text-decoration: none;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 1024px;
  font-family: Roboto;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  display: flex;
}