@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  /* color-scheme: light dark; */
  /* To darken page */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: Roboto;
}

a {
  font-weight: 500;
  text-decoration: none;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 1024px;
  font-family: Roboto;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  display: flex;
}

/* Add this media query to your CSS file */
@media (max-width: 1100px) {
  .mainPage {
    padding-left: 44px;
  }

  .chartsContainer {
    width: 100%;
  }

  .chartStats {
    flex-wrap: wrap;
    gap: 30px;
    width: 95%;
  }

  .statsContainer {
    flex-direction: row;
    justify-content: space-between;
    width: 96%;
    margin-bottom: 50px;
  }

  .stats {
    width: 197px;
    height: 88px;
    gap: 14px
  }

  .logoContainer {
    margin-left: 15px;
  }

  .valueStat {
    font-size: 18px;
  }
}